@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    background: linear-gradient(180deg, rgb(199, 197, 197), rgb(255, 255, 255));
    display: flex;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    width: 100vw;
    justify-content: start;
    align-items: start;
  }
  